.jumbotron {
  background-image: url("./assets/images/seniorClassonChair.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #AC7A55;
}

h1 {
  font-family: 'Birthstone Bounce', cursive;
  font-size: 4em;
  color: #AC7A55;
}

footer {
  background-color: #AC7A55;
  padding: 20px, 0;
  color: white;
}

footer {
  background-color: #AC7A55;
  padding: 20px, 0;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

/* Why doesn't this work? */
footer a:hover {
  color: black;
}
